/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header img {
  max-height: 40px;
}

#header .cart-shopping {
    position: relative;
}

#header .cart-shopping .cart-shopping-number {
    font-size: x-small;
    position: absolute;
    top: 5%;
    right: 5%;
}
