* {
    font-family: "Poppins", sans-serif;
}

.navbar-brand img{
    height: 70px;
}

.item-content {
    max-width: 500px;
}

.item-img {
    max-width: 500px;
    width: 100%;
}

.cart-shopping {
    position: relative;
}

.cart-shopping .cart-shopping-number {
    font-size: x-small;
    position: absolute;
    top: 5%;
    right: 5%;
}
